<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://code.angularjs.org/1.2.6/angular.min.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
  <script src="passeadorJS.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Quicksand|Saira+Condensed|Shadows+Into+Light" rel="stylesheet">
  <link rel="icon" href="../img/dog.png" />

  <title>WalkdogPOA — Passeador</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <style>
    body {
      padding-top: 54px;
    }

    @media (min-width: 992px) {
      body {
        padding-top: 56px;
      }
    }

    #test {
      padding-top: 60px;
    }

    h2,
    h4,
    h5 {
      font-family: 'Saira Condensed', sans-serif;
    }

    a {
      font-family: 'Saira Condensed', sans-serif;
    }

    b, p {
      font-family: 'Quicksand', sans-serif;
    }

    #botaoTest {
      font-family: 'Saira Condensed', sans-serif;
    }

    #botaoBranco {
      color: #ffffff;
    }

    #paragAviso {
      font-family: 'Quicksand', sans-serif;
      color: red;
      font-weight: bold;
      font-size: 12px;
      padding-top: 20px;
    }
  </style>

</head>

<body ng-controller="DemoCtrl" class="container" ng-app="DemoApp">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../PaginaInicial/selecao.html">WALKDOGPOA Passeador</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Principal
                <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Configurações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../PaginaInicial/selecao.html">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- MODAL -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Parabéns, você adotou um cachorro!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Deseja continuar adotando?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal" ng-click="adotar()">Não</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Sim</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container" id="test">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 align="center">Lista de cachorros disponíveis</h2>

        <!--<h4 align="center">Adicionar cachorro</h4>
        ADD ITEM FORM
        <form name="myForm">

          <div>
            <input type="text" name="todoNameField" ng-model="todoName" placeholder="Adicione um nome" required ng-minlength="3" class="form-control"
              ng-keyup="($event.keyCode == 13 && todoName.length > 2) ? addItem() : return" style="margin-bottom: 10px" />
            <input type="text" name="todoPorteField" ng-model="todoPorte" placeholder="Adicione o porte" required ng-minlength="3" class="form-control"
              ng-keyup="($event.keyCode == 13 && todoPorte.length > 2) ? addItem() : return" style="margin-bottom: 10px" />
            <input type="text" name="todoDescriField" ng-model="todoDescri" placeholder="Adicione uma descrição" required ng-minlength="3"
              class="form-control" ng-keyup="($event.keyCode == 13 && todoPorte.length > 2) ? addItem() : return" style="margin-bottom: 10px"
            />

            <button ng-click="addItem()" ng-hide="myForm.todoNameField.$invalid" class="btn btn-success" type="button" id="botaoTest">Adicionar cachorro</button>
          </div>

        </form>

        <hr>


        TODO LIST-->
        <div ng-repeat="item in todos" class=" list-group-item row" align="center" ng-show="continuar"> 

          <div class="col-md-12">
            <!--COMPLETED ICON-->
            <span class="glyphicon glyphicon-thumbs-up" ng-show="item.completed"> </span>


            <!--todo label-->
            <span><b>Nome: {{item.name}}</b> <br></span>

            <small class="text-success"> <b id="numeracao">(Numeração do cachorro: {{item.id}})</b> <br></small>

            <span><b>Porte: {{item.porte}} </b> <br></span>

            <span ><b>Descrição: {{item.descricao}} </b> <br></span>


            <!--Delete Todo button-->
            <a class="btn btn-success" ng-click="removeItem($index, item, $event)" id="botaoBranco" data-toggle="modal" data-target="#exampleModal">
            <i class="icon-remove-sign"></i>Escolher cachorro
            </a>

          </div>

        </div>
        <p ng-show="pagIni">Obrigado!</p>
        <a class="btn btn-success" href="../PaginaInicial/selecao.html" ng-show="pagIni">Página inicial</a>
        <p id="paragAviso">*Sempre tenha em mãos a numeração do cachorro para um melhor atendimento*</p>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>